<nav>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/userProfile">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<div class="main-container">
  <h1>Super Private Cool Cat</h1>
  <img
    src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/98880a65948559.5b05916bdc9e3.jpg"
    alt="CoolCat"
  />
  <a href="/">Home Page</a>
</div>