<nav>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/userProfile">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<div class="signup-container">
    <h2>Sign up</h2>
    <form action="/signup" method="post">
    <label>
        <input type="text" name="username" placeholder="Username" required>
    </label>
    <label>
        <input type="password" name="password" placeholder="********" required>
    </label>
    <button type="submit">Create Account</button>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
    </form>
</div>